/* ejemplo2.css   SUCARNET */
pais {
    background-color: lightblue;
    padding: 10px;
    border: 2px solid blue;
  }
  
  departamento {
    background-color: lightgreen;
    padding: 10px;
    border: 1px solid green;
    margin-bottom: 10px;
  }
  
  cabecera {
    font-size: 1.5em;
    font-weight: bold;
    color: darkgreen;
    margin-bottom: 5px;
  }
  
  habitantes {
    font-size: 1.2em;
    color: darkred;
    margin-bottom: 5px;
  }
  
  altura {
    font-size: 1em;
    color: darkgray;
  }
  